@import url("https://use.typekit.net/jam3axg.css");


* {
	padding: 0;
	margin: 0;
}

header {
	margin: 13em;
}

/*section {
	padding: 10em;
}*/

body {
	text-align: center;
	color: #222222;
	font-family: century-gothic, sans-serif;
	background-image: url(https://lh3.googleusercontent.com/oREOaupBXQWMDF0XyWigSGmIoxQa9AuPds0RetAb_EjrvFYCBFI0xQySswkKOQOV7612oD0P3vXbs99PrSIkt6IIw2Z_sLxSNGQxCc3rYiu6r9zqXbBFXc1dXy1WSFiPLthdD3XhW6Uc0iWOKrKVDPvHdREtwZHFghwBD85_C3JGFvLjRa3IVydFfpxBDJ5a-9uVgDGAeAGMdSRR4-amEoHza7CPQwNi-pqH-LkoT7CGRz6GX9HaA-UgDDpX9Bhf-1sRuppNp0NVptTWKOCkoLFH1xLwYa6G446bkhkAGJm9QwWce2GUHNtb868ITFUy3lcTRuTCnYd8slEYKKcXo9bzTlYGBj9iqyhZZqVDbdPICa8cEb2Nbbb7QRebPhoBcumOkET8Ty3p8Ps61TTngyBkYRNR_ZBllvRAenNF0YavWWaFNlRvDVhNxFuTLL-Jnm7pRNSDkyR1HY6ka-znvAjJl29xjVnggsYUMdF0-YqElOZSUrDSC9WfPoalsmqRiqwc4SsCNlkn5SJKVVmshWBPeNpwL9ilSsgcf4vxTuNOOujbMnwaMfP6kn--DXiyNAmxKyRE5P0vC-CYXbf4DybX1cR0chCy1DOAzv5Fzj0A9FXtjFezSuS2OVHEHAithAH-yUcyxNDQFYSJH0lB8roK=w1023-h651-no);
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: white;
	font-size: 16px;	
}

nav {
	margin: 1em;
}

nav a {
	color: #cccccc;
	font-style: italic;
	margin: 4.375em;
	text-decoration: none;
}

article {
	float: left;
	padding: 1em;

}

aside {
	float: left;
	text-align: left;
	width: 30%;
	padding: 1em;
}

#logo {
	width: 30%;
}


h1 {
	font-family: century-gothic, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 3.75em;
	color: white;
}

h3 {
	font-family: century-gothis, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2em;
	color: white;
}

h4 {
	font-family: century-gothis, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 1.5em;
}

p {
	font-family: century-gothic, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1em;
}

section {
	margin: 5em;
	padding-top: 5em;
}

img {
	width: 100%;
}

.wrapper {
	width: 676.59px;
    margin: auto;
}

.work {
	width: 20%;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}


