* {
	padding: 0;
	margin: 0;
}

body {
	text-align: center;
	color: #222222;
	font-family: Century Gothic;
	background-image: url(https://lh3.googleusercontent.com/IO-LIdG9iKPro97tElQMzge48C5v5fAT52Lg7St5UHYYuDhnET0-OZRgfVJt2EX64KkWbHNVs10geX7HiF8FrqdDnCKZm5mImEVt71MIFwQNnxeIa_nNwY_Mbz2OpVygAecAg2DOOc6nEQPCswM9meo7caDhLFlmmD-5wvXIm8E4D5wtBio8-XHas4czQFNqm5_dXuoNZv68P20dUus55Zpreo_52w2iVtW0TwORimiyV2PHyB9QZmJFE5FxuALQs2yzKELgdf2PZl2FFuGAK0JyZPF0l-qW7A72W6I0CrUmhToBbo8S_7baTwydbW5xGDQwTeTSVoBDbqJY_wLX1d13h3FKKswVscSu8EVW-bEHqdMUQZsml6WXTxd9QCZoN2Q-N5YZO6L3FZy1k3KuU_d_TitPKZhK3FB3GYxBlLF5IEhIBz9B1njgZQrwjEEwpzzxgrzQsW-CUVLGtwaUQAIL-b8BdprBtlet81aLGQbk4lFlXph4sk0Zyxfv1EtKf67UMQJoFJkaXQVOeAz6rnSiK9eVnHIraxXHKwzpewwZKrNuQ1hL_CVMvF_FFfWvkd-VEm_wE93npJWkP8XXBD9IKv46NOOnD1R8wuuQx8H_ObyMvnYcT5YvkOSsJgAet0LTF7j5GJTVVyQBai4pa9Yc=w583-h240-no);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%;
	background-color: #cccccc;
}

a {
	color; #000;
	text-decoration: none;
}

header {
	background-color: white;
	padding: 20px;
}

nav a {
	color: #cccccc;
	font-style: italic;
	margin: 70px;
}

img {
	width: 20%;
	padding-top: 90px;
}

h1 {
	font-size: 40px;
}
p {
	font-size: 34px;
}